.App {
  display: flex;
  flex-direction: column; /* 縦並び */
  justify-content: center; /* 縦方向の中央揃え */
  align-items: center; /* 横方向の中央揃え */
  height: 100vh; /* 画面の高さに合わせる */
  text-align: center; /* テキストを中央揃え */
}

/* App.css */
header {
  position: fixed; /* スクロールしても固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* ヘッダーの高さを指定 */
  background-color: #333; /* 背景色を指定 */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 見た目を強調 */
}

main {
  padding-top: 60px; /* ヘッダーの高さ分の余白を確保 */
}


header h1 {
  margin: 0; /* ヘッダーのh1のマージンを0に */
}

/* 動画を上に固定 */
video {
  width: 640px;      /* 幅を固定 */
  height: 360px;     /* 高さを固定 */
  display: block;    /* 他の要素と重ならないようにする */
  margin-bottom: 20px; /* 動画とボタンの間にスペースを追加 */
  position: relative; /* 親要素に対して相対的に配置 */
  top: 0;            /* 上部に配置 */
}


button {
  display: inline-block;
  margin-top: 10px; /* ボタンの上にスペースを追加 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.score-list {
  width: 45%;
}

.total-score {
  width: 45%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 40px;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 中央配置用のスタイル */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポート全体の高さ */
  text-align: center;
}

.loading-text {
  font-size: 2rem; /* テキストサイズを調整 */
  color: #333; /* テキストの色 */
  animation: blink 1s infinite; /* 点滅アニメーション */
}